@import '../../../../styles/variables';

.songAlbum {
  color: white;
  padding: 0 0 0 10px;
  >span {

  }
}

.realeaseFormInput {
  height: 30px;
}

.lastTableButton {
  margin: 0 10px;
}

.editSection {
  display: flex;
  justify-content: right;
  align-items: center;
  >button {
    >img {
      width: 20px;
      height: 20px;
    }
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
  }
}

.editAlbumSongButton {
  background: none;
  height: 16px;
  width: 16px;
  border: none;
}

