@import '../../styles/variables.scss';

.mainPageSection {
	width: $defaultContentWidth;
	margin: 20px auto 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.mainPageReviews {
	width: 550px;
} 