@import './variables.scss';

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Helvetica'; 
	src: local('Helvetica'),
		url('../assets/fonts/Helvetica.woff2'); 
}

@font-face {
	font-family: 'HelveticaBold'; 
	src: local('Helvetica-Bold'),
		url('../assets/fonts/Helvetica-Bold.woff2'); 
}

@font-face {
	font-family: 'CircularBold'; 
	src: local('CircularBold'),
		url('../assets/fonts/CircularStd-Bold.woff2'); 
}

@font-face {
	font-family: 'CircularBook'; 
	src: local('CircularBook'),
		url('../assets/fonts/CircularStd-Book.woff2'); 
}

@font-face {
	font-family: 'CircularBookItalic'; 
	src: local('CircularBookItalic'),
		url('../assets/fonts/CircularStd-BookItalic.woff2'); 
}

html,
body {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  height: 100vh;	
  background-color: rgb(30, 30, 34);
}

.App {
	width: 100%;
	background-color: red;
	margin: 0 auto 0 auto;
}

.main-container {
}


