$blackBackground: rgb(34, 34, 34);
$deepBlack: rgb(17, 17, 17);
$pinkGradient: linear-gradient(to bottom right, 	#bf0044, #8f0134);
$brightPinkGradient: linear-gradient(to bottom right, 	#bf0044, #8f0134);
$mainPink: #FF005C;
$brightPink: #FF005C;
$preWhite: #EEEEEE;

$mainWidth: 930px;

