@import '../../styles/variables.scss';

.container {
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
  z-index: 10;
	width: 100vw;
	height: 70px;
	background-color: $deepBlack;
	box-shadow: 0px 3px 6px rgba(0,0,0, 0.3);
}

.container__box {
  padding: 0;
	height: 100%;
	display: grid;
  align-items: center;
	grid-template-columns: 2fr 400px 5fr 2fr;
	max-width: $screenDefaultContentWidth;
	margin: 0 auto 0 auto;
}

nav {
	height: 100%;
  width: 400px;
	display: flex;
	justify-content: space-between;
}

.navElement {
	cursor: pointer;
	width: 100px;
	height: 100%;
	text-align: center;
    vertical-align: middle;
    transition: background .08s ease-out;  
	> p {
		margin-top: 24px;
		display: inline-block;
		font-size: 16px;
	};
	&:hover {
		background: $greyBlackHover;
	}
}

.navElementActive {
  background: $pinkGradient;
  transition: background .08s ease-out;  
  &:hover {
		background: $brightPinkGradient;
	}
}

.searchInput {
  margin: 0 auto;
}

.nav__text {
	color: white;
}

.headerLogo {
  margin-top: 2px;
  height: 45px;
  width: auto;
}

